


<nav>
    
    <img class="mainlogo" src ="../assets/images/flipkart-final.png" alt="flipkart logo"/>
    <label class = "flipkart"><a routerLink=""></a><b>Flipkart</b></label>
<ul>
<li><a  routerLink = "">Home</a></li>
<li><a  routerLink = "/product">Products</a></li>
<li><a  routerLink = "/shipper">Shipper</a> </li>
<li><a  routerLink = "/customer">New Customer</a></li> 
<li><a  routerLink = "/cart">Cart</a> </li>
<li><a  routerLink = "/order">Orders</a></li>
</ul>
</nav>

<router-outlet></router-outlet>