.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card img{
    width : 200px;
    height : 200px;
    margin-bottom: 15px;
}
.card{
    padding: 10px;
    margin: 20px;
}